* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-timer > div {
    margin: 0 10px;
}

.timetable-screen {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 6rem;
    font-weight: bold;
    background-color: blue;
    color: white;
}

.timer-container {
    text-align: center;
}

.timetable-screen > div {
    width: 100%;
}

.timetable-lesson-container {
    text-align: center;
}

.timetable-info-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 4rem;
}

.show {
    display: flex;
}

.upper-marker {
    border-top: 3px dashed darkgrey;
}

.lower-marker {
    border-bottom: 3px dashed darkgrey;
}

.slot {
    position: relative;
    margin: 10px 0;
    padding: 10px 0;
}

.cross-container {
    position: absolute;
    top: 50%;
    right: -100px;
    height: 5px;
    width: 20px;
}

.cross-container:before, .cross-container:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    transform: rotate(45deg);
}

.cross-container::after {
    transform: rotate(-45deg);
}

.cross-container:hover:before, .cross-container:hover:after{
    background-color: darkgrey;
    cursor: pointer;
}

.drop-zone {
    position: absolute;
    top: 50%;
    width: 100%;
}

.timetable-lesson-container {
    background-color: crimson;
}

.timetable-start-time {
    background-color: tomato;
}

.timetable-end-time {
    background-color: royalblue;
}
